@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');




/* Selector ke bare me aache se padh lo
*/

*{

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;


}
html{
    scroll-behavior: smooth;
}
.max-width{

    max-width: 1300px;
    padding: 0 80px;
    margin: auto;

}

/* navbar styling */ 
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px, 0;

    background-color: none;

    font-family: 'Ubuntu', 'sans-serif';
    transition: all 0.3s ease;

}
.navbar.sticky{
    padding: 15px, 0;

    background: #301E67;


}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;


}
.navbar .logo a{
    align-items: left;


    color: #fff;
    font-size: 35px;
    font-weight: 600;


 } 
 .navbar .logo{
     /* text-align:left;    // want this logo to the top left side but this is not happning */
    
     padding-top: 30px;
     margin-left: -8px;
     margin-bottom: 21px; 
     /* margin: auto; */
 }
 .navbar .logo a span{

     /* color: rgb(50, 4, 14); */
     color: #301E67;
     transition: all 0.3s ease;
 }

.navbar.sticky .logo a span{
    color:#fff;
}

 
 
 .navbar .menu li {
     margin-top: auto;
     /* margin-right: 10px; */
    list-style: none;
    display: inline-block;
    

 }
 

.navbar .menu li a {
    display: block;
    color: #fff;
    font-size: 19px;
    font-weight: 500px;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: #301E67;

}
.navbar.sticky .menu li a:hover{
    color: #fff;


}

/* menu btn styling*/


.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;

}  

.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: #301E67;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}

/* home section styleing */

.home{

    display: flex;
    background-size: cover;
    background-attachment: fixed;
    background-image:url("./gallery/banner.jpg");
    background-color: #5B8FB9;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    font-family: 'Ubuntu', 'sans-serif';



}



.home .max-width{
    margin: auto 0. auto 40px;
    margin-left: 65px;


}

.text-1{
    font-size: 27px;
     

}
.text-2{
    font-size: 75px;
    font-weight: 600;
     

}
.text-3 {
    font-size: 40px;
    margin: 5px 0;

}
.home  .text-3 span{
    color: #301E67;
    font-weight: 500;
} 
/*   */
section a{
    display: inline-block;
    background:#301E67 ;
    color: #fff;
    font-size: 25px;
    padding: 12px 32px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #301E67;
    transition: all 0.3s ease;
    
}
/* in video tha name is( .home .home-content a:hover ) */
section a:hover{    
    color: #301E67;
    background: none;
}

/* a .sidtalk{
    color: #e34005;

} */

/* all similar content styling code */
section{
    padding: 100px 0;
}
.about, .services, .skills, .teams, .contact, footer{
    font-family:'Poppins', sans-serif;
}
.about .about-content,
.services .serv-cotent,
.skills .skills-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}           
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;

}
section .title::before{
    content: "";
    position:absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #5B8FB9;
    transform:translateX(-50%)
}

section .title::after{
    position:absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: #301E67;
    padding: 5px;
    background: #fff;
    transform:translateX(-50%)
}
/* About section styling */

/* .about, .services, .skills{
    font-family:'Poppins', sans-serif;
} */

.about .title::after{
    content: "who i am";
}


.about .about-content .left{
    width: 45%;

}
.about .about-content .left img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}
.about .about-content .right{
    width: 55%;

}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .right .text span{
    color:#301E67

}
.about .about-content .right p{
    text-align: justify;

}
.about .about-content .right a{
display: inline-block;
background:#301E67 ;
color: #fff;
font-size: 20px;
font-weight: 500;
padding: 10px 30px;
margin-top: 20px;
border-radius: 6px;
border: 2px solid #301E67;
transition: all 0.3s ease;
}
.about .about-content .right a:hover{
    color: #301E67;
    background: none;
    transition: all 0.3s ease;
}








 /* services section styling */

 .services, .teams{
    color: #fff;
    background-color: #5B8FB9;
 }
 .services .title::before,
 .teams .title::before{
    background: #fff;

 }
 .services .title::after,
 .teams .title::after{
    
    background: #5B8FB9;
    content:"What i provide";
 }
 .services .card{
    display: inline-block;

    width: calc(33% - 20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    /* add margin */
    padding:  20px 25px;
    cursor: pointer;

 }


 .services .card .box{
    transition: all 0.3s ease;
 }
 .services .card:hover{
    color: #301E67;
}
 .services .card:hover .box{
    transform: scale(1.05);   /* learn scalling */
 }
 
.services .card i{
    font-size: 50px;
    color: #301E67;
    transition: color 0.3s ease;

}
.services .card:hover i{
    color: #fff;
}
.services .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}


/* skills section styling */
.skills .title::after{
    content: "what i know";
}
.skills .skills-content .column{
    width: calc(50% - 30px);
}
.skills .skills-content .left .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.skills .skills-content .left p{
    text-align: justify;
}
.skills .skills-content .left a{
    display: inline-block;
background:#301E67 ;
color: #fff;
font-size: 18px;
font-weight: 500;
padding: 8px 16px;
margin-top: 20px;
border-radius: 6px;
border: 2px solid #301E67;
transition: all 0.3s ease

}
.skills .skills-content .left a:hover{
    color: #301E67;
    background:none;
}
.skills .skills-content .right .bars{
    margin-bottom: 15px;

}
.skills .skills-content .right .info{
    display: flex;
    margin: 5px;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content .right span{
    font-weight: 500;
    font-size: 18px;
}
.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background: lightgray;
    position: relative;
}
.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    top: 0;
    background: #301E67;
    
}
.skills-content .right .html::before{
    width: 90%;
}
.skills-content .right .css::before{  
    width: 80%;
}
.skills-content .right .js::before{
    width: 50%;
}
.skills-content .right .sql::before{
    width: 10%;
}
.skills-content .right .cpp::before{
    width: 98%;
}


/* team/friend section starts */
.teams .title::after{
    content: "who with me";
}
.teams .carousel .card{
    background: #222;
    border-radius: 6px;
    padding: 25px 35px; 
    margin: 0 25px 0 25px;   /*margin diya hai apne se */
    text-align: center;
    transition: all 0.3s ease;

}
.teams .carousel .card:hover{
    background: #301E67;
}
.teams .carousel .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;

}
.teams .carousel .card:hover .box {
    transform: scale(1.05);
}
.teams .carousel .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
    
}
.teams .carousel .card img{
    height: 150px;
    width:150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #301E67;
    transition: all 0.3s ease;
}

.teams .carousel .card:hover img{
    border-color: #fff;
}
.owl-dots{
    text-align: center;
    margin-top: 20px;
}
.owl-dot{
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid #301E67!important;
    transition: all 0.3s ease;
}
.owl-dot.active{
    width:35px;
    border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover{
    background: #301E67!important;
}

/* contact section styling */
.contact .title::after{
    content: "get in touch";
}
.contact .contact-content .column{
    width:calc(50% - 30px);
}
.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.contact .contact-content .left p{
    text-align: justify;
}
.contact .contact-content .left .icons{
    margin: 10px 0;
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row .info{
    margin-left: 30px;
}
.contact .contact-content .row i{
    font-size: 25px;
    color: #301E67;

}
.contact .contact-content .info .head{
    font-weight: 500;
}
.contact .contact-content .info .sub-title{
    color: #333 ;

}
.contact .right form .fields{
    display: flex;

}
.contact .right form .field,
.contact .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;

}
.contact .right form .textarea{
    height: 80px;
    width: 100%;

}
.contact .right form .name{
    margin-right: 10px;
}
.contact .right form .email{
    margin-left: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}

.contact .right form .textarea textarea{
    padding-top: 10px;
    resize: none;
}
.contact .right form .button{
    height: 47px;
    width: 170px;

}
.contact .right form .button button{
    width: 100%;
    height: 100%;
    border: 2px solid #301E67;
    background: #301E67;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;

}
.contact .right form .button button:hover{
    color: #301E67;
    background: none;
}



/* footer section starting */
footer{
    background: #5B8FB9;
    padding: 20px 23px;
    color: #fff;
}
footer span a{
    color: #301E67;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}


/* responsive media query start */


@media(max-width:1300px){
    .home .max-width{
        margin-left: 0px;
    }

}


@media(max-width:1104px){
    .about .about-content .left img {
        height: 350px;
        width: 350px;
    }

}
@media(max-width:991px){
    .max-width{
        padding: 0 50px;
    }
    section a{
        font-size: 20px;
        padding: 9px 20px;

    }
}

@media(max-width:947px){
    .max-width{
        padding: 0 50px;
    }
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .navbar i.fa-bars.active:before{
        content: "\f00d";
    } 
      
    /*
    .navbar:active i.fa-bars:after{
        content: "\f00d";
        
    } 
    */
   

    
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%; 
        top: 0;          
        background: #5B8FB9;
        text-align: center;
        padding-top: 80px;
        transition:all 0.3s ease;
    }
    .navbar .menu.active{
        left: -0;
    }
    .navbar .menu li{
        display:block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
        
    }

    .text-2{
        font-size: 70px;
         
    
    }
    .text-3 {
        font-size: 35px;   
    
    } 
    section a{
        font-size: 23px;
        padding: 10px 30px;

    }
    .max-width{
        max-width: 800px;
    }   
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .services .card{
        margin-top: 25px;

        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .skills .skills-content .column,
    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 35px;
    }





}
@media(max-width: 690px){
    .max-width{
        padding: 0 23px;
    }
    .text-2{
        font-size: 60px;

    }
    .text-3{
        font-size: 32px;
    }
    section a{
        
        font-size: 23px;
        padding: 9px 25px; 

    }
    section a{
        text-align: center;
    }
    .services .card{
        margin-top: 25px;
        width: 100%;
    }


}

@media(max-width:500px){

    

    .text-2{
        font-size: 50px;
         
    
    }
    .text-3 {
        font-size: 27px;   
    
    } 
    section a{
        font-size: 20px;
        padding: 9px 20px;

    }

    
}
